@forward "./base/index";
@use "./utils/index" as variable;

// We can use any word instead of index like (variable)
header {
  background-color: variable.$header_bgColor;
  padding: 1rem;
  color: variable.$text_color;
}

main {
  background-color: variable.$main_bgColor;
  padding: 1rem;
  color: variable.$text_color;
}

@mixin para-style ($margin, $bg_Color, $color) {
  font-size: 16px;
  text-align: left;
  margin-top: $margin;
  background-color: $bg_Color;
  color: $color;
  padding: 10px 15px;
  border-radius: 10px;
}

#about p {
    @include para-style(10px, variable.$text_color, variable.$main_bgColor);
}

#education p {
    @include para-style(2px, variable.$header_bgColor, variable.$text_color);
}
